body {
  background: lightgrey;
}
.container {
  max-width: 1000px;
  width: 100%;
  flex-flow: column wrap;
}
.header {
  background: #0080ff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: black;
}
.header h1 {
  margin-right: 3%;
}
.header .nav {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: wheat;
  font-size: 20px;
  font-weight: bold;
}
.header .nav a:link {
  color: black;
  margin-top: 5px;
}
.header .nav a:visited {
  color: navy;
}
.header .nav a:hover {
  color: blue;
}
.about-me {
  background: #f5f5f5;
  margin: 25px auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.about-me h2 {
  margin: 10px auto;
}
.about-me .para p {
  border: 3px solid rgba(0, 0, 0, 0.125);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 25px;
}
.jumbo {
  padding-right: 0px;
  background: #0080ff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.jumbo .jumbotron {
  background-color: #0080ff;
}
.jumbo .jumbotron h1,
.jumbo .jumbotron p {
  margin-top: 30px;
}
.jumbo .jumbotron p {
  font-size: 20px;
}
.jumbo .jumbotron img {
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 45%;
}
.jumbo .jumbotron button {
  margin-top: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
  color: black;
}
.skills {
  background: wheat;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: bold;
}
.skills h2 {
  color: black;
  margin-top: 20px;
}
.skills .list-group-item {
  background: wheat;
  color: navy;
  border: 2px solid rgba(0, 0, 0, 0.125);
}
.work-history {
  background: #f5f5f5;
  margin-top: 25px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.work {
  margin-top: 20px;
}
.next-work {
  margin-top: 55px;
}
