.container {
  display: flex;
  flex-flow: column wrap;
}
.jumbotron {
  background-color: teal;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.jumbotron h1,
.jumbotron p {
  margin-top: 30px;
}
.jumbotron img {
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 50%;
}
.jumbotron button {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
