body {
  background: lightgrey;
}
.container {
  max-width: 1000px;
  width: 100%;
  flex-flow: column wrap;
}
.header {
  background: navy;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: lightblue;
}
.header h1 {
  margin-right: 3%;
}
.header .nav {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: tan;
  font-size: 20px;
  font-weight: bold;
}
.header .nav a:link {
  color: black;
  margin-top: 5px;
}
.header .nav a:visited {
  color: navy;
}
.header .nav a:hover {
  color: #0080ff;
}
.jumbotron {
  background-color: teal;
}
.jumbotron h1,
.jumbotron p {
  margin-top: 40px;
}
.jumbotron img {
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 50%;
}
.jumbotron button {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.para p {
  width: 100%;
  border: 1px solid black;
}
