// Start here!

// Variables

// Colors
@hoverColor: blue + green;


// Mixins

.border-radius (@radius: 15px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

body {
    background: lightgrey;
}

.container {
    max-width: 1000px;
    width: 100%;
    flex-flow: column wrap;
}

// Header

.header {
    background: navy;
    .border-radius();
    color: lightblue;
    h1 {
        margin-right: 3%;
    }
    .nav {
        .border-radius();
        background: tan;
        font-size: 20px;
        font-weight: bold;
        a:link {
            color: black;
            margin-top: 5px;
        }
        a:visited {
            color: navy;
        }
        a:hover {
            color: @hoverColor;
        }
    }
}

.jumbotron {
    background-color: teal;
    // .border-radius();

    h1,p {
        margin-top: 40px;
    }

    img {
        .border-radius(25%);
        width: 50%;
    }



    button {
        .border-radius(50px);
    }
}
.para p {
	width: 100%;
	border: 1px solid black;

}
